/*GENERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    transition-property: width height;
    transition-duration: .2s;
}
a, button{
    transition: transform .2s;
    cursor: pointer;
}
nav > a:hover, header > button:hover{
    transition: transform .2s;
    transform: scale(1.05);
}
a:visited, a:link{
    color: black;
}

/*PALETA DE COLORES*/
:root{
    --Color-gris_claro: #DADADA; 
    --Color-blanco-gris: #F0F0F2;
    --Color-gris-oscuro: #3d3d3d;
    --Color-negro: #000000; 
    --Color-negro_medio: #161616;
    --Color-negro_medio-claro:#131313;
    --Color-coral: #FF0951;
    --Color-rojo: #FF0023;
    --Color-violeta: #542BE3;
    --Color-azul-corp:#006eff;
    
}
body{
    background: var(--Color-negro);
    width: 100%;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
    padding: 2rem;
    background-color: var(--Color-negro);
    font-size: 3rem;
    font-family: monospace;
    color: #FFF;
}
h1{
    letter-spacing: 20px;
    animation-name: header_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
nav > button{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #FFF;
    
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--Color-negro_medio);
}


.navbar-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    gap: 50px;
    *flex-basis: 50px;
    color: #0C0D0F;
    text-decoration: none;
    background-color: var(--Color-blanco-gris);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.247);
    z-index: 1;
}

.navbar-side > a{
    margin: 1rem;
    font-size: 1.5rem;
    color: #0C0D0F;
    width: min-content;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    box-sizing: border-box;
    padding: .5em .5em;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
    background-color:  var(--Color-negro);
    color: #FFF;
}
#footer-links{
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
#footer-links > a{
    color: white;
    font-size: 3rem;
    animation-name: footer-links_animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes footer-links_animation {
    from{
        text-shadow: #FFF 1px 1px 10px;
    }
    to{
        text-shadow: #FFF 0px 0px 0px;
    }
}
@keyframes header_animation {
    from{
        letter-spacing: 25px;
        text-shadow: #FFF 1px 1px 5px;
    }
    to{
        letter-spacing: 20px;
        text-shadow: #FFF 0px 0px 0px;
    }
}
@media screen and (max-width: 1200px){
    *{
        transition: all 1s;
    }
    nav{
        font-size: 1.3rem;
    }

    main {
        flex-wrap: wrap;
    }
<<<<<<< HEAD
    main{
        flex-direction: column;
    }
    nav{
=======

    .navbar-side{
        width: 100%;
>>>>>>> 6d3a0152fee896d2b3db6e63adbcb03e08c0ecc3
        flex-direction: row;
        justify-content: space-around;
        height: 50px;
        
    }
<<<<<<< HEAD
    main > *{
=======
    /*main > div{
>>>>>>> 6d3a0152fee896d2b3db6e63adbcb03e08c0ecc3
        min-width: 100% !important;
        height: 50px !important;
    }*/
}