:root{
    --Color-gris_claro: #DADADA; 
    --Color-blanco-gris: #F0F0F2;
    --Color-gris-oscuro: #3d3d3d;
    --Color-negro: #000000; 
    --Color-negro_medio: #161616;
    --Color-negro_medio-claro:#131313;
    --Color-coral: #FF0951;
    --Color-rojo: #FF0023;
    --Color-violeta: #542BE3;
    --Color-azul-corp:#006eff;
    
}
.dashboard{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    *box-shadow: inset 2px 2px 80px rgba(255, 255, 255, 0.123);
    /* border: 1px outset #9c5af1; */
    border-radius: 20px;
    flex-grow: 1;
    width: 100%;
    *background-color: rgba(51, 51, 51, 0.425);
    position: relative;
}
.dashboard > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    flex-grow: 1;
    height: 300px;
    padding: 20px;
    background-color: #202020;
}
.dashboard > * > img{
    height: 100%;
    object-fit: contain;
}
.bars{
    width: 100%;
}
.mood-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}
.iconFace{
    width: min-content;
    font-size: 5rem;
}
.happy, .mid, .sad {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    color: var(--Color-gris_claro);
}
.mood{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:  2rem;
    font-family: monospace;
    color: var(--Color-coral);
}