main{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    padding: 20px;
    gap: 20px;
}
main > div{
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 80px rgba(255, 255, 255, 0.123);
    border: 1px outset #9c5af1;
    border-radius: 20px;
    min-width: 300px;
    flex-grow: 1;
    height: 250px;
    background-color: rgba(51, 51, 51, 0.425);
    position: relative;
}
#main-charts{
    display: flex;
    justify-content: space-evenly;
    flex-basis: none;
    max-width: none;
    width: 100%;
}
canvas{
    margin: 0;
    padding: 0;
    object-fit: contain;
}