/*GENERAL*/

input {
    color: var(--Color-gris_claro);
}

label {
    font-size: 10pt;
    font-weight: 700;
    color: var(--Color-gris_claro);
}

:focus{
    color: var(--Color-gris_claro);
}

.sep {
    margin: 0px auto 0px auto;
    width: 50%;
    height: 1px;
    background-color: var(--Color-gris-oscuro);

}

/*FUNCIONALIDADES*/
#funtions {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
    height: auto;
    margin: 10px 10px 10px 10px;
    border: 1px solid var(--Color-gris-oscuro);
    border-radius: 10px;
    background-color: var(--Color-negro_medio-claro);
}

.funtions-section {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all 300ms;
}

.title2 > h2 {
    font-size: 18pt;
    text-align: center;
    margin-top: 20px;
    color: var(--Color-gris-oscuro);
}

.title3 {
    font-size: 12pt;
    color: #00ff80;
    text-align: center;
    margin-bottom: 20px;
}


.title3--color {
    color: #ffaf03;
}

.title3--color2 {
    color: var(--Color-violeta);
}

.fun-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.funtions__widgets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.funtions__widgets > a > button {
    width: 150px;
    padding: 5px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;

}

#food-register, #food-list, #imc, #tips {
    background-color: transparent;
    color: var(--Color-gris_claro);
    border: 1px solid var(--Color-gris-oscuro);
    transition: all 300ms ease-in-out;
}

#food-register:hover, #food-list:hover, #imc:hover, #tips:hover {
    background-color: #00974c;
    border: none;
}

#rutine, #mod-rutine, #del-rutine {
    background-color: transparent;
    color: var(--Color-gris_claro);
    border: 1px solid var(--Color-gris-oscuro);
    transition: all 300ms ease-in-out;
}

#rutine:hover, #mod-rutine:hover, #del-rutine:hover {
    background-color:#c28400;
    border: none;
}


.devices {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

.add-device {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Color-gris-oscuro);
    border-radius: 50%;
}

.add-device:hover {
    background-color: var(--Color-violeta);
}

.device-container {
    display: flex;
    gap: 10px;
    color: var(--Color-gris_claro);

}

.device-container span {
    font-weight: 100;
}

/*FORMULARIOS*/

#formularios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    gap: 20px;
    width: 30%;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: var(--Color-negro_medio-claro);
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--Color-gris-oscuro);
}

/*ESTILOS TITULO*/

.title-container {
    display: flex;
    width: 100%;
}

.title-p1 {
    width: 50%;
}

.title {
    font-size: 12pt;
    color: var(--Color-coral);
}

.title__icons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 20px;
    color: #3d3d3d;
    cursor: pointer;
}

#edit:hover {
    color: #006eff;
}

#delete {
    transition: transform 300ms ease-in;
}

#delete:hover {
    color: var(--Color-rojo);
    transform: rotate(90deg);
}


.form-flex {
    *border: 1px solid rgb(0, 255, 136);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-flex input {
    width: 50%;
    background-color:rgba(17, 17, 17, 1);
}


/*ESTILOS GENERO*/

.gender {
    margin-bottom: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    *border: 1px solid #ff00b3;
}

span {
    color: var(--Color-gris_claro);
    font-weight: 700;
    font-size: 10pt;
}

.gender__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.input-container {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.input-container .radio-style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 1.5em;
    color: #3d3d3d;
}

input:checked + .radio-style> #male {
    color: var(--Color-azul-corp);
    border: none;
}

input:checked + .radio-style> #female {
    color: var(--Color-coral);
    border: none;
}

input:checked + .radio-style> #undefined {
    color: var(--Color-violeta);
    border: none;
}


.input-style {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 5px;
    *background-color: var(--Color-negro);
    transition: width 300ms ease-in;
}

.save-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.save-button > input {
    border: none;
    width: 27%;
    background-color: transparent;
    color: var(--Color-gris-oscuro);
}

.save-button input:hover {
    color: var(--Color-coral);
}

/*FORMULARIO ENTRENAMIENTO*/

.title--color {
   color: #ff7403;
}

.training-checkbox {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    *border:1px solid #006eff;
    margin-bottom: 20px;

}

.training-checkbox > span {
    text-align: center;
    margin: 10px;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    gap: 20px;
}

.checkbox-container {
    position: relative;
    width: 4em;
    height: 4em;
}

.checkbox-container > input {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
}


.checkbox-container .check-style {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 1.5em;
}

.check-style, .check-style > label {
    padding: 10px;
    color: var(--Color-gris-oscuro);
}


input:checked + .check-style > i, 
input:checked + .check-style > label {
    color: #ff7403;
}

/*CONTENEDOR SELECTION*/

.selection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    margin-top: 30px;
}

.selection > span {
    text-align: center;
    margin-bottom: 20px;
}


.selection-container {
    display: flex;
    justify-content: center;
}

select {
    margin-top: 10px;
    padding: 5px;
    width: 50%;
    background-color:var(--Color-gris-oscuro);
    color:var(--Color-gris_claro);
    border: none;
    border-radius: none;
}

/*SECCION - INFORMACION DE USUARIO*/

#aditional-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: 700px;
    height: 800px;
    margin: 10px 10px 10px 10px;
}

/*ESTILOS DE CALENDARIO*/

.calendar {
    width: 100%;
    height: 300px;
}

.calendar-container {
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: var(--Color-gris_claro);
    font-size: 10pt;
}

td {
    border: 1px solid var(--Color-gris-oscuro);
    padding: 10px;
}

.calendar-title th {
    width: 100%;
    border-radius: 10px 10px 0px 0px;   
    background-color: var(--Color-coral);
}

.calendar-title i {
    margin-left: 10px;
}

.calendar-title:hover {
    color: var(--Color-gris_claro);
}

.calendar-days th {
    background-color: #006eff;
}

/*INFORMACION DE USUARIO*/

.user-info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.info-container {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.tracing {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.water,.burn, .calories, .protein {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    padding: 10px;
    color: var(--Color-gris_claro);
    border-radius: 10px;
}

.water--color {
    background-color: var(--Color-azul-corp);
}

.burn--color{
    background-color: #ff7403;
}

.calories, .calories--color {
    background-color: var(--Color-violeta);
}

.protein, .protein--color {
    background-color: var(--Color-rojo);
}


.water input, .burn input, .calories input, .protein input{
    background-color: var(--Color-negro_medio);
    padding: 5px;
    font-size: 12pt;
    font-weight: 700;
    border: hidden;
    outline: none;
    color: var(--Color-gris_claro);
    background-color: transparent;
    width: 55px;
}

.water i::after {
    content: "Vasos de agua:";
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10px;
}


.burn i::after {
    content: "Grasas quemadas:";
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10px;
}

.calories i::after {
    content: "Calorias:";
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10px;
}

.protein i::after {
    content: "Proteinas:";
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10px;
}

